<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo"> {{ titulo | uppercase }}</span>
                    <form class="mt-3" [formGroup]="productoForm" (ngSubmit)="agregarProducto()">
                        <div class="mb-3">
                            <input type="text" formControlName="producto" class="form-control form-control-lg"
                                placeholder="Producto">
                            <div class="text-danger"
                                *ngIf="productoForm.get('producto')?.hasError('required') && productoForm.get('producto')?.touched">
                                <span>El nombre del producto <strong>es obligatorio</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" formControlName="categoria" class="form-control form-control-lg"
                                placeholder="Categoria">
                            <div class="text-danger"
                                *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span>La categoria <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <select formControlName="categoria" class="form-control form-control-lg">
                                <option *ngFor="let categoria of categorias" [ngValue] = "categoria" >
                                    {{categoria.categoria}}
                                </option>
                            </select>
                            <div class="text-danger"
                                *ngIf="productoForm.get('categoria')?.hasError('required') && productoForm.get('categoria')?.touched">
                                <span>La categoria <strong>es obligatoria</strong></span>
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <input type="text" formControlName="presentacion" class="form-control form-control-lg"
                                placeholder="Presentacion">
                            <div class="text-danger"
                                *ngIf="productoForm.get('presentacion')?.hasError('required') && productoForm.get('presentacion')?.touched">
                                <span>La presentación <strong>es obligatoria</strong></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" formControlName="precio" class="form-control form-control-lg"
                                placeholder="Precio">
                            <div class="text-danger"
                                *ngIf="productoForm.get('precio')?.hasError('required') && productoForm.get('precio')?.touched">
                                <span>El precio <strong>es obligatorio</strong></span>
                            </div>
                        </div>                        
                        <div class="mb-3">
                            <input type="text" formControlName="tiempo" class="form-control form-control-lg"
                                placeholder="Tiempo">
                            <!-- <div class="text-danger"
                                *ngIf="productoForm.get('tiempo')?.hasError('required') && productoForm.get('tiempo')?.touched">
                                <span>El tiempo <strong>es obligatorio</strong></span>
                            </div> -->
                        </div>
                        <div class="mb-3">
                            <button routerLink="/" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit" [disabled]="productoForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>